<!DOCTYPE html>
<html>
    <head>
        <!-- Computación gráfica -->
        <!-- Jorge Victorino, Miguel Barrero-->
        <title>Documento guia para Three.js</title>
        <!--Configuracion meta-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
        
        <!-- Recursos basicos de three.js -->
        <!-- La ruta de estos recursos son relativos dependiendo en donde usted los tenga -->
        <script type="text/javascript" src="../projects/three.js/build/three.js"></script>
	    <script type="text/javascript" src="../projects/three.js/examples/js/controls/OrbitControls.js"></script>
    </head>
    <body>
        <script type="text/javascript">
            
            // Declaración de variables.

            // Invocación de funciones.
            initScene();
            animate();
            gui();
            
            // Función para configurar todos los elementos iniciales de una escenga en 3D. 
            function initScene() {

            }

            // Función que renderiza los elementos que se encuentran dentro de la función initScene para que puedan ser visualiados.

            function render() {

            }

            // Funcion que genera un loop para crear y reproducir una animación en un elemento.
            function animate() {

                requestAnimationFrame(animate);
                render();
            }


            // Función para agregar controles de interfaz de usuario (botones, checkbox, radiobuttons) que generen cambios en la escena.
            function gui() {

            }

        </script>
    </body>
</html>